body {
	Background-color: #0e510f;
}
div
	{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
	margin-left: 20px;
	}
img
	{
	Float: center;
	}
.header {
	background-color: #000000;
	text-align: center;
	padding: 20px;
	}
