body {
	Background-color: #09ef8f;
	text-align: center;
}
div
	{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 100px;
	margin-left: 100px;
	}
.topnav {
	overflow: hidden;
}
}
.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decorator: none;
}
.header {
	background-color: #00fffa;
	text-align: center;
	padding: 5px;
	border: 2px solid black;
	}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footer {
    width: 100%;
    text-align: center;
}
