body {
	Background-color: #09ef8f;
	text-align: center;
}
div
	{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 100px;
	margin-left: 100px;
	}
.topnav {
	overflow: hidden;
	background-color: #333;
}
}
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decorator: none;
}
.header {
	background-color: #00fffa;
	text-align: center;
	padding: 20px;
	border: 2px solid black;
	}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
